.homeScreen{
    height: 100vh;
    width: 100%;
}

.header__homeScreen {
    padding:10px;
    display:flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
}

.header__homeScreen > h1 {
    color:royalblue;
}

.header__homeScreen > input {
    height:40px;
    width: 350px;
    border:1px solid lightgray;
    outline:none;
    border-radius: 10px;
    padding-left:10px;
}

.header__homeScreen > button {
    height:40px;
    width:40px;
    font-size: x-large;
    font-weight: 500;
    
}

.table > table{
    width: 100%;
    justify-content:space-between;
    border-bottom: 1px solid gray;
}

.table__column{
    
    border-left: 1px solid gray;
    padding:10px;
    text-align:center;
    margin-left:50px;
}

.table__row{
    padding:10px;
}

.add__record{
    display:flex;
    flex-direction: column;
    grid-gap: 15px;
}
