
.feed {
    height:100vh;
    display:grid;
    place-items:center;
  }

.LoginScreen{
    max-width: 300px;
    padding:70px;
    display:grid;
    place-items:center;
    background-color:whitesmoke;
    box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.5);
    
}

.LoginScreen > form {
    display:grid;
    flex-direction: column;
}

.LoginScreen > form > h1 {
    font-weight: 600;
    margin-bottom:18px;
    font-size:x-large;
}

.LoginScreen > form > input {
    outline:none;
    border:none;
    height: 25px;
    margin-bottom: 18px;
    border-radius: 5px;
    padding:5px 15px;
}

.LoginScreen > form > button {
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 5px;
    border:none;
    outline:none;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
    background-color: royalblue;
    color:white;
    
}

.LoginScreen > form > button:hover{
    color: black;
    background-color: lightgray;
}

.LoginScreen > form > h4 {
    text-align: left;
    margin-top:15px;
}

.loginScreen__gray{
    color:gray;
}

.loginScreen__link:hover {
    cursor:pointer;
    text-decoration: underline;
    color: royalblue;
}

.register__form{
    display:flex;
    flex-direction: column;
    grid-gap: 30px;
}